In [ ]:
import pandas as pd

In [ ]:
student=pd.read_csv("student.csv")

In [ ]:
student

# Q1

In [ ]:
#there are 200 record in each column 
#so 160 is the missing values; 160 -200 =40 means at least 40 is not missing
student=student.dropna(axis=1, thresh=40)

# Q2

In [ ]:
student.isnull().sum()

In [ ]:

student['internet'].value_counts()
#there are only 5 missing values and the most repeated value is yes so i fill the missing values with it

In [ ]:
student['internet']=student['internet'].fillna("yes")

In [ ]:
student.isnull().sum()

# Q3

In [ ]:
#target column is score
#the missing values are only 2 so i will replace the missing values with the mean of the column
student['score']=student['score'].fillna(student['score'].mean())

In [ ]:
student.isnull().sum()
#the missing values are filled successfully

# Q4

In [ ]:
from sklearn import preprocessing

In [ ]:
preprocessing.scale(student[['absences','freetime']])

#Q5

In [ ]:
#before removing outliers
student[['age']].boxplot()

In [ ]:
dropThese= student[(student['age'] < 15) | (student['age'] > 20)  ].index

In [ ]:
student.drop(dropThese,inplace=True)

In [ ]:
#after removing outliers
student[['age']].boxplot()

# Q6

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.hist(student['score'], bins=15)

In [ ]:
#the the scores between 7.5 and 12.5 range is the maximum scored

# Q7

In [ ]:
X = student.groupby(by=['gender']).mean()
X.reset_index(inplace=True)
plt.barh(X['gender'],X['score'])
#Male students average is higher than females

# Q8

In [ ]:
#make the features and target columns
X=student.iloc[:,:-1]
y=student.iloc[:,-1]

# Q9

In [ ]:
from sklearn import preprocessing

In [ ]:
lbl=preprocessing.LabelEncoder()
X['gender-code']=lbl.fit_transform(X['gender'])

In [ ]:
X

# Q10

In [ ]:
X.drop("gender",axis="columns",inplace=True)
X.drop("internet",axis="columns",inplace=True)

In [ ]:
X

# Q11

In [ ]:
from sklearn.decomposition import FactorAnalysis

In [ ]:
FactorAnalysis(n_components=4).fit_transform(X)

# Q12

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test= train_test_split(X,y,test_size=0.2,random_state=5)

# Q13

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
score_model=LinearRegression()
score_model.fit(X_train,y_train)

In [ ]:
y_pred=score_model.predict(X_test)

# Q14

In [ ]:
dict ={"Actual":y_test,"Predicted":y_pred}

In [ ]:
pd.DataFrame(diction)

In [ ]:
plt.plot(std['score'], color='black')
plt.plot(ypr, color='g')
plt.title('actual teat data and th predicted data')
plt.show()

# Q15

In [ ]:
X

In [ ]:
score_model.predict([[22,1,2,0,0,0,0]])